PORT=5000
MONGODB_URI=mongodb+srv://sonamsharma0306_db_user:lwcyU4k53rpfhAyB@cluster0.bxtngv9.mongodb.net/admin
JWT_SECRET=1b114b5d0239278954adc11a3906dfd8a167cebd5ace403115558075ab6f0de8
JWT_EXPIRE=7d

# Nodemailer Config (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=sonamsharma0306@gmail.com
EMAIL_PASS=ynkj ctki emea zdfx
EMAIL_FROM=NayePankh Foundation <noreply@nayepankh.org>

NODE_ENV=development
